* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(20, 20, 20);
  overflow: hidden;
}

.app {
  widows: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.header-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title .title {
  color: gray;
  font-size: 1em;
  font-weight: 300;
}

.header-wrapper {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start
}

.header-title .rules-btn,
.header-title .close-rules {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: .8em;
  color: gray;
  font-weight: bold;
  background: white;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.header-title .rules {
  display: none;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 80%;
  background-color: white;
  min-height: 300px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.header-title .rules.active {
  display: block;
}

.header-title .rules p {
  margin: 40px 20px;
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: rgb(150, 150, 150);
}

.header-wrapper .wallet {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 0.9em;
  color: black;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15%;
}

.wallet p:first-child {
  margin: 6px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.wallet p span {
  color: rgb(250, 134, 66);
}

.wallet p span:last-child {
  font-weight: 400;

}

.header-wrapper .city {
  margin-bottom: 15%;
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.9);
}

.city-img {
  filter: grayscale(0.5);
  height: 100%;
  width: 120%;
  transition: 0.2s;
  -webkit-filter: grayscale(0.5);
}

.city-img.active {
  margin-left: -150%;
}

.city-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 20px;
  background-color: rgba(20, 20, 20, 0.9);
  color: white;
  text-align: center;
  z-index: 2;
}

.city-name {
  font-size: 0.4em;
  color: rgb(249, 245, 245);
  z-index: 2;
  transition: 0.2s;
}

.city-name.active {
  opacity: 0;
  margin-left: 150%;
}

.changeCityBtn {
  margin: 20px;
  height: 40px;
  width: 150px;
  border: none;
  background: rgb(45, 45, 45);
  color: white;
  font-size: 1.1em;
  border-radius: 10px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

.changeCityBtn:hover {
  background: rgb(0, 0, 0);
  font-size: 1.3em;
}

.board {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 5px;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card h2 {
  font-size: .9em;
  font-weight: bold;
  margin: 10px;
  color: rgb(63, 63, 63)
}

.card p {
  margin: 10px;
  font-size: 0.8em;
  color: rgb(189, 189, 189)
}

.card p span {
  color: rgb(250, 134, 66);
}

.transactions {
  position: absolute;
  left: 10px;
  right: 0px;
  bottom: 5px;
  width: 100%;
}

.transactions .buy-btn,
.transactions .sell-btn,
.buying-form .confirm-btn,
.selling-form .close-form,
.selling-form ul li button {
  width: 60%;
  height: 25px;
  border: none;
  font-family: sans-serif;
  color: rgb(63, 63, 63);
  font-size: 0.6em;
  border: 2px solid rgb(255, 232, 219);
  background-color: white;
  border-radius: 10px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.transactions .sell-btn,
.selling-form ul li button {
  background-color: rgb(20, 20, 20);
  color: white;
}

.transactions .sell-btn:hover {
  background-color: rgba(250, 133, 66, 0);
  color: rgb(250, 134, 66);
}

.transactions .buy-btn:hover {
  background-color: rgb(250, 134, 66);
  color: white;
}

.alert-active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 50px;
  width: 150px;
  text-align: center;
  border: 2px solid rgb(250, 134, 66);
  color: rgb(63, 63, 63);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: .9em;
  font-weight: bold;
  animation-duration: .7s;
  animation-name: shakeAlert;
}

@keyframes shakeAlert {
  0% {
    opacity: 0;
  }

  25% {
    transform: translate(-50%, -50%) rotate(-5deg);
    -webkit-transform: translate(-50%, -50%) rotate(-5deg);
    -moz-transform: translate(-50%, -50%) rotate(-5deg);
    -ms-transform: translate(-50%, -50%) rotate(-5deg);
    -o-transform: translate(-50%, -50%) rotate(-5deg);
  }

  50% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(5deg);
    -webkit-transform: translate(-50%, -50%) rotate(5deg);
    -moz-transform: translate(-50%, -50%) rotate(5deg);
    -ms-transform: translate(-50%, -50%) rotate(5deg);
    -o-transform: translate(-50%, -50%) rotate(5deg);
  }

  75% {
    transform: translate(-50%, -50%) rotate(-5deg);
    -webkit-transform: translate(-50%, -50%) rotate(-5deg);
    -moz-transform: translate(-50%, -50%) rotate(-5deg);
    -ms-transform: translate(-50%, -50%) rotate(-5deg);
    -o-transform: translate(-50%, -50%) rotate(-5deg);
  }

  100% {
    opacity: 0;
  }
}

.buying-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 200px;
  height: 120px;
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.selling-form {
  display: block;
  position: absolute;
  left: 0;
  bottom: -100vh;
  width: 100%;
  height: calc(100% - 150px);
  background-color: rgba(255, 255, 255);
  border-radius: 20px 20px 0 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}

.selling-form .close-form {
  width: 50px;
  margin: 10px;
}

.selling-form h1 {
  text-align: center;
  font-weight: bold;
}

.selling-form p {
  text-align: center;
  font-size: 0.8em;
  color: gray;
}

.selling-form ul {
  list-style: none;
  margin: 5px;
}

.selling-form ul li {
  text-align: center;
  padding: 2px;
  color: rgb(50, 50, 50);
  border-bottom: 1px solid rgb(220, 220, 220);
}

.selling-form ul li button {
  width: 50px;
  margin-left: 10px;
}

.buying-form input {
  height: 30px;
  border: 1px solid rgb(220, 220, 220);
}

/*mediaqueries*/

@media only screen and (min-device-width : 320px) {

  .header-title .rules {
    position: absolute;
    top: 50vh;
  }

  .board .card {
    width: 45vw;
    height: 45vw;
  }

  .card h2 {
    font-size: 1em;
  }

  .card p {
    font-size: .8em;
  }
}

@media only screen and (min-device-width : 375px) {

  .header-title .rules {
    position: absolute;
    top: 50vh;
  }

  .wallet p {
    font-size: 1.1em;
  }

  .header-wrapper .city {
    width: 90px;
    height: 90px;
  }

  .city-name {
    font-size: .35em;
  }

  .board .card {
    width: 45vw;
    height: 45vw;
  }

  .card h2 {
    font-size: 1.2em;
  }

  .card p {
    font-size: 1em;
  }

  .transactions .buy-btn,
  .transactions .sell-btn,
  .buying-form .confirm-btn {
    width: 60%;
    height: 30px;
    font-size: 0.8em;
  }

  .selling-form {
    height: calc(100% - 150px);
    z-index: 2;
  }
}

@media only screen and (min-device-width : 768px) {

  .header {
    height: 220px;
  }

  .header .header-title {
    font-size: 1.5em;
  }

  .header-wrapper {
    font-size: 1.5em;
  }

  .header-wrapper .city {
    width: 130px;
    height: 130px;
  }

  .city-title {
    height: 40px;
  }

  .city-name {
    font-size: .3em;
  }

  .changeCityBtn {
    width: 40%;
    height: 60px;
    font-size: 1.5em;
  }

  .board .card {
    margin: 10px;
    width: 35vw;
    height: 35vw;
  }

  .card h2 {
    margin-top: 20px;
    font-size: 2.1em;
  }

  .card p {
    font-size: 1.5em;
  }

  .transactions .buy-btn,
  .transactions .sell-btn,
  .buying-form .confirm-btn {
    width: 60%;
    height: 50px;
    font-size: 1.4em;
  }

  .alert-active {
    min-height: 100px;
    width: 250px;
    font-size: 1.4em;
  }

  .buying-form {
    width: 400px;
    height: 220px;
  }

  .buying-form input {
    width: 80%;
    height: 50px;
    font-size: 1.5em;
  }

  .selling-form {
    font-size: 1.5em;
    height: calc(100vh - 220px);
  }

  .selling-form .close-form,
  .selling-form ul li button {
    width: 20%;
    height: 50px;
    font-size: 1em;
  }
}





@media only screen and (max-device-width : 700px) and (orientation : landscape) {
  .header {
    height: 100px;
  }

  .header-title {
    height: 40px;
    top: 0;
  }

  .header-title .rules {
    top: 50vh
  }

  .header-wrapper {
    height: 70px;
    margin-top: 20px;
  }

  .header-wrapper .city {
    width: 70px;
    height: 70px;
  }

  .city-name {
    font-size: .32em;
  }

  .board .card {
    width: 22vw;
    height: 22vw;
  }

  .card h2 {
    font-size: 1em;
  }

  .card p {
    font-size: .8em;
  }

  .transactions .buy-btn,
  .transactions .sell-btn,
  .buying-form .confirm-btn,
  .selling-form .close-form,
  .selling-form ul li button {
    width: 60%;
    height: 25px;
    font-size: 0.6em;
  }

  .selling-form {
    height: calc(100% - 100px);
  }


}

@media only screen and (min-device-width: 700px) and (orientation : landscape) {
  .header {
    height: 100px;
  }

  .header-title {
    height: 40px;
    top: 0;
  }

  .header-title .rules {
    top: 50vh
  }

  .header-wrapper {
    height: 70px;
    margin-top: 20px;
  }

  .header-wrapper .city {
    width: 70px;
    height: 70px;
  }

  .city-name {
    font-size: .32em;
  }

  .board .card {
    width: 22vw;
    height: 22vw;
  }

  .card h2 {
    font-size: 1.2em;
  }

  .card p {
    font-size: 1em;
  }

  .transactions .buy-btn,
  .transactions .sell-btn,
  .buying-form .confirm-btn,
  .selling-form .close-form,
  .selling-form ul li button {
    width: 60%;
    height: 30px;
    font-size: 0.8em;
  }
}

@media only screen and (min-device-width : 1024px) {

  .header {
    height: 220px;
  }

  .header .header-title {
    font-size: 1.5em;
  }

  .header-wrapper {
    font-size: 1.5em;
  }

  .header-wrapper .city {
    width: 130px;
    height: 130px;
  }

  .city-title {
    height: 40px;
  }

  .city-name {
    font-size: .3em;
  }

  .changeCityBtn {
    width: 40%;
    height: 60px;
    font-size: 1.5em;
  }

  .board .card {
    margin: 10px;
    width: 20vw;
    height: 20vw;
  }

  .card h2 {
    margin-top: 20px;
    font-size: 2.1em;
  }

  .card p {
    font-size: 1.5em;
  }

  .transactions .buy-btn,
  .transactions .sell-btn,
  .buying-form .confirm-btn {
    width: 60%;
    height: 50px;
    font-size: 1.4em;
  }

  .alert-active {
    min-height: 100px;
    width: 250px;
    font-size: 1.4em;
  }

  .buying-form {
    width: 400px;
    height: 220px;
  }

  .buying-form input {
    width: 80%;
    height: 50px;
    font-size: 1.5em;
  }

  .selling-form {
    font-size: 1.5em;
    height: calc(100vh - 220px);
  }

  .selling-form .close-form,
  .selling-form ul li button {
    width: 20%;
    height: 50px;
    font-size: 1em;
  }
}